<div style="background-image:url('{$layout_info->path}img/slider_img.jpg');" class="swiper-slide">
    <div>
        <div>
            <h1>소통하는<br />공동체 커뮤니티</h1>
            <p>조합원이 함께 만들어가는 열린 소통 공간입니다.</p>
        </div>
    </div>
</div>

<div style="background-image:url('{$layout_info->path}img/slider_img2.jpg');" class="swiper-slide">
    <div>
        <div>
            <h1>함께하는 결정,<br />함께하는 성장</h1>
            <p>주민의 의견이 반영되는 민주적인 의사결정 문화를 지향합니다.</p>
        </div>
    </div>
</div>

<div style="background-image:url('{$layout_info->path}img/slider_img3.jpg');" class="swiper-slide">
    <div>
        <div>
            <h1>투명한 관리<br />함께하는 운영</h1>
            <p>사업비와 회계 정보를 투명하게 공유합니다.</p>
        </div>
    </div>
</div>

<div style="background-image:url('{$layout_info->path}img/slider_img4.jpg');" class="swiper-slide">
    <div>
        <div>
            <h1>우리의 가치,<br />우리의 미래</h1>
            <p>공동체의 힘으로 아파트의 가치를 높여갑니다.</p>
        </div>
    </div>
</div>

<div style="background-image:url('{$layout_info->path}img/slider_img5.jpg');" class="swiper-slide">
    <div>
        <div>
            <h1>함께 가꾸는<br />쾌적한 환경</h1>
            <p>여러분의 의견을 반영하여 더 나은 환경을 만듭니다.</p>
        </div>
    </div>
</div>