<!-- WelcomeXE -->
<div class="welcomeXE">
	<section class="guide">
		<span class="noti">GET STARTED</span>
		<h1 class="tit">우리 아파트 소식</h1>
		<ul>
			<li>
				<a href="/index.php?mid=member&act=dispMemberSignUpForm" class="ico"><i class="xi-pen"></i><span
						class="blind">회원 가입하기</span></a>
				<h2>회원 가입하기</h2>
				<p>홈페이지 회원에 가입해 보세요.<br/> 사이트 내 사업 관련 자료는 회원 가입 및 조합원 인증을 받은 후에 열람 할 수 있습니다.</p>
			</li>
			<li>
				<a href="/askAuth" class="ico"><i class="xi-user"></i><span class="blind">조합원 인증 요청하기</span></a>
				<h2>조합원 인증 요청하기</h2>
				<p>회원 가입 후 조합원 인증을 요청하세요. 조합원 인증은 <a href="/askAuth">[소통 공간 &gt; 조합원 인증 요청]</a> 코너에서 요청할 수 있습니다.</p>
			</li>
			<li>
				<a href="/info" class="ico"><i class="xi-eye"></i><span class="blind">사업 안내 둘러보기</span></a>
				<h2>사업 안내 둘러보기</h2>
				<p>이 사이트는 다양한 사업 관련 정보를 제공합니다. 사업개요 및 브랜드 관련 정보는 <a href="/overview">[사업 안내]</a> 메뉴에서 확인할 수 있습니다.</p>
			</li>
			<li>
				<a href="/notice" class="ico"><i class="xi-bell"></i><span class="blind">공지 사항 보기</span></a>
				<h2>공지 사항 보기</h2>
				<p>조합의 공지사항을 확인하세요. <a href="/notice">[소통 공간 &gt; 공지 사항]</a> 메뉴에서 우리 조합 관련한 각종 소식을 확인할 수 있습니다.</p>
			</li>
			<li>
				<a href="/poll" class="ico"><i class="xi-check-circle"></i><span class="blind">투표(설문) 참여하기</span></a>
				<h2>투표(설문) 참여하기</h2>
				<p>설문 참여로 여러분의 의견을 직접 제공해 보세요. 투표(설문)은 <a href="/poll">[소통 공간 &gt; 투표(설문) 코너]</a> 메뉴에서 참여할 수 있습니다.</p>
			</li>
			<li>
				<a href="/data" class="ico"><i class="xi-unlock"></i><span class="blind">조합원 공개 자료 열람</span></a>
				<h2>조합원 공개 자료 열람</h2>
				<p>조합의 사업 추진과 관련한 각종 상세 자료들을 확인해 보세요. 각 자료들은 <a href="/info_01">[자료 공개]</a> 메뉴에서 확인 및 열람할 수 있습니다.</p>
			</li>
		</ul>
	</section>
	<section class="connect">
		<span class="noti">CONNECT WITH US</span>
		<h1 class="tit">사업 관련 문의</h1>
		<ul>
			<li>
				<a href="/faq" class="ico"><i class="xi-community"></i><span class="blind">COMMUNITY</span></a>
				<h2>자주 묻는 질문(FAQ)</h2>
				<p>사업과 관련한 다양한 질문과 대답을 만나보세요.</p>
			</li>
			<li>
				<a href="/qna" class="ico"><i class="xi-users"></i><span class="blind">Q&amp;A</span></a>
				<h2>질문 게시판(Q&amp;A)</h2>
				<p>도움이 필요할 때에는 이웃 또는 전문가들과 이야기할 수 있습니다.</p>
			</li>
			<li>
				<a href="/contact" class="ico"><i class="xi-home"></i><span class="blind">DOWNLOAD</span></a>
				<h2>조합 사무실</h2>
				<p>조합에 방문 또는 연락해서 궁금 사항을 직접 문의하세요.</p>
			</li>
			<li>
				<a href="/contact" class="ico"><i class="xi-cog"></i><span class="blind">GITHUB</span></a>
				<h2>업무대행사</h2>
				<p>주식회사 대영아이비에스<br>인천광역시 연수구 능허대로289번길 21 대성빌딩 4층<br>Tel : 032-831-5500</p>
			</li>
		</ul>
	</section>
</div>
<!-- /WelcomeXE -->
